
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}



.card-container {
    background: url("./assets/background-mobile.png");
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

h1, h2 {
    color: #B5596D;
}

.social-media ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0.5rem 0;
}



header {
    color: #EC879C;
    padding: 2rem 0 1rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    position: relative;
}

.front {
    position: relative;
}

header .profile-image {
    height: 86px;
    width: auto;
    border: 3px solid white;
    border-radius: 50%;
}

.social-media img:hover, .social-media-list img:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}   


.image-container {
    position: relative;
}

.logo-flower {
    position: absolute;
    top: 3.6rem;
    right: 0;
}

main {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    margin-bottom: 2rem;
    /* width: 100%; */
}

main.description {
    width: 76%;
    margin: 0 auto 2.5rem;
    position: relative;
}

.floral-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.floral-container:hover {
    background-color: #FFF9F3;
}

.flip-icon {
    background-color: #CA6D81;
    height: 18px;
    width: auto;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    bottom: -0.5rem;
    right: -1rem;
}


.floral-container img {
    width: auto;
    height: 110px;
}

.floral-container h3 {
    color: #EC879C;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.floral-container p {
    font-size: .9rem;
    color: #737373;
}

/* back of card */

.back {
    padding: 1.5rem;
    background: url('./assets/background-mobile.png');
}

.back ul {
    padding: 0;
    list-style-type: none;
}

.back h4 {
    text-align: center;
    font-weight: normal;
    font-size: .9rem;
    color: #737373;
}

.back ul li a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.back ul li:hover {
    background-color: #FFF9F3;
}

.back ul li {
    margin-bottom: 0.5rem;
}

.qr-container {
    display: flex;
    border: 1px solid #dbd8d8;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
}

.back p.description {
    font-size: 0.9rem;
}

.back ul li p {
    color: #B5596D;
}

span.bold {
    font-weight: bold;
}

.back a {
    text-decoration: none;
}

.back p, .back a {
    color: #737373;
}

.back p {
    margin-bottom: 0;
}

.qr-container img {
    width: auto;
    height: 59px;
}

.card-inner {
    position: relative;
    border-radius: 15px;
}



@media screen and (min-width: 990px) {
    .card-container {
        background: url("./assets/background-desktop.png");
        border: 2px solid white;
        border-radius: 1rem;
        width: 70%;
        margin: 0 auto;
    
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    
    .floral-container {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 33%;
        box-sizing: border-box;
    }

    .front {
        display: flex;
        flex-direction: column;
    }

    .front-description {
        display: flex;
    }

    .name-social-container {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }

    .social-media img {
        height: 24px;
        width: auto;
    }

   

    .social-media ul {
        gap: 1rem;
    }

    .social-and-qr-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .back {
        background: url('./assets/background-desktop.png');
        /* border-radius: 13rem; */
    }

    .back h4 {
        display: none;
    } 

    .qr-container img {
        height: 100px;
    }
}

/* helper class */

.hide {
    display: none;
}


